{% extends "base.html" %}
{% load humanize %}

{% block title %}Lista de transações{% endblock %}

{% block content %}
<div class="hero-body">
  <div class="container">

    <div class="columns mb-5">
      <div class="column is-2">
      </div>

      <div class="column">
        <h1 class="title is-2 has-text-centered">Transações</h1>
      </div>

      <div class="column is-2">
        <div class="select is-link">
          <select onchange="javascript:location.href = this.value;">
            <option value="{% url 'list' %}">TODOS</option>
            {% for person in object_list.persons %}
              <option value="{% url 'list-person' person.id %}" 
              {% if person.id == request.resolver_match.kwargs.id %}selected{% endif %}
              >{{ person.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    

    {% if object_list.person_selected %}
      <div class="columns my-5 is-centered">
        <div class="column is-half">
          <div class="notification is-primary">
            <h2 class="is-size-4">{{object_list.person_selected.name}}</h2>
            <p>Saldo: R${{object_list.person_selected.get_balance|floatformat:2}}</p>
            <p>Produtor de: 
              {% for product in object_list.person_selected.producers.all %}
                {{ product.name }}, 
              {% endfor%}
            </p>
            <p>Afiliado de: 
              {% for product in object_list.person_selected.affiliate.all %}
                {{ product.name }}, 
              {% endfor%}
            </p>
            <p>Participou de {{ object_list.person_selected.transaction_set.count }} transações</p>
          </div>
        </div>
      </div>
    {% endif %}


    {% if object_list.transactions.count > 0 %}

      <table class="table columns is-centered mt-5">
        <tr>
          <th>Tipo</th>
          <th>Produto</th>
          <th>Pessoa</th>
          <th>Valor</th>
          <th>Horário</th>
        </tr>

        {% for transaction in object_list.transactions %}
          <tr class="has-background-{% if transaction.type == 3 %}danger{% else %}success{% endif %}-light">
            <td>
              {% if transaction.type == 1 %}
                Venda por produtor
              {% elif transaction.type == 2 %}
                Venda por afiliado
              {% elif transaction.type == 3 %}
                Comissão paga
              {% elif transaction.type == 4 %}
                Comissão recebida
              {% endif %}
            </td>
            <td>{{ transaction.person.name }}</td>
            <td>R${{ transaction.get_value|floatformat:2 }}</td>
            <td>{{ transaction.product.name }}</td>
            <td>{{ transaction.date }}</td>
          </tr>
          {% endfor %}
      </table>
        
    {% else %}
      <div class="columns is-centered"> 
        <div class="column is-4">
          <div class="notification is-danger is-warning has-text-centered">
            <p class="is-size-4">Nenhuma transação adicionada.</p>
            <a class="button is-light m-3" href="{% url 'upload' %} ">Envie o arquivo de transações</a>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>




{% endblock %}