{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav class="navbar mx-6 mt-3">
        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button is-light" href="{% url 'upload' %} ">Enviar arquivo de vendas</a>
            </div>
        </div>
    </nav>

    <div class="container">
        {% if messages %}
        <div class="messages columns is-centered">
            <div class="column is-half">
                {% for message in messages %}
                    <div class="notification is-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} has-text-centered">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>