{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav class="navbar mx-6 mt-3">
        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button is-light" href="{% url 'upload' %} ">Upload file</a>
            </div>
        </div>
    </nav>

    <div class="mx-6 mb-6">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="notification is-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>